# folders
.direnv/
.github/
.vscode/
hack/
nix/

# files
.envrc
.prettierignore
.prettierrc.json
default.nix
eslint.config.js
flake.lock
flake.nix
shell.nix
vite.config.ts
tsconfig.json
pnpm-*.yaml
renovate.json
